nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: gray;
    z-index: 1000;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav li{
    margin: 0 20px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: #ff6600;
}
.navmenu{
    border: 3px solid black;
}