body{
    background-color:white;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color:#ee964b;
    z-index: 1000;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav li{
    margin: 0 20px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:blue;
}
.navmenu nav{
    border: 3px solid black;
}
.img img{
    margin-top: 100px;
    width: 100%; /* Adjust the width percentage as needed */
    max-width: 500px; /* Optionally, set a maximum width to avoid excessive stretching */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; 
}
.text{
    vertical-align: baseline;
}
