*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body {
    display: flex;
    background: #E8DFC4;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navigation {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgb(204, 113, 92);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  .icons{
    padding-top: 10px;
  }
  .menu li {
    margin: 0 15px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .menu li a:hover {
    color: #E8DFC4;
  }

.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    height: 1500px; 
    padding-top: 40px;
  }
  .home{
    display: flex;
    align-items: center;
    justify-content: center;
  }

#img-home{
  border-radius: 20px;
}
.li-icon{
  font-size: 30px;
  color:#aaaaaa;
}  
.li-icon:hover{
  color: black;
}
.gt-icon{
  color:#aaaaaa;
  font-size: 30px;
}
.gt-icon:hover{
  color: black;
}
.about-text{
  margin: 170px auto;
  width: 70%;
 
  display: flex;
  align-items: center;
  justify-content: center
}
.about-text p{
  display: block;
  font-size: 20px;
  padding-left: 20px;
}
.abou-img{
  float: right;
 width: 300px;
}